* {
  transition: background-color .5s;
}

@keyframes slide {
  0% {
    transform: translateY(-80px)
  }

  100% {
    transform: translateY(0)
  }
}


@keyframes slide-b {
  0% {
    opacity: 0;
    transform: translateY(100px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes slide-t {
  0% {
    opacity: 0;
    transform: translateY(-150px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}



@keyframes fade-out {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes heroChange {
  0% {
    background: url("../img/01.jpg") center / cover no-repeat;
  }

  20% {
    background: url("../img/01.jpg") center / cover no-repeat;
  }

  25% {
    background: url("../img/02.jpg") center / cover no-repeat;
  }

  45% {
    background: url("../img/02.jpg") center / cover no-repeat;
  }

  50% {
    background: url("../img/03.jpg") center / cover no-repeat;
  }

  70% {
    background: url("../img/03.jpg") center / cover no-repeat;
  }

  75% {
    background: url("../img/04.jpg") center / cover no-repeat;
  }

  95% {
    background: url("../img/04.jpg") center / cover no-repeat;
  }

  100% {
    background: url("../img/01.jpg") center / cover no-repeat;
  }
}

#intro-example {
  background: url('../img/01.jpg') center / cover no-repeat;
  animation: heroChange 20s 4s infinite;
  height: 100vh;
}

.navanimation {
  transform: translateY(-80px);
  animation: slide 750ms .1s ease-in-out 1 normal forwards;
}

.slide-b {
  opacity: 0;
  animation: slide-b 1750ms 1s ease-in-out 1 normal forwards;
}

.slide-t {
  opacity: 0;
  animation: slide-t 2350ms 1s ease-in-out 1 normal forwards;
}


.fade-out {
  opacity: 0;
  animation: fade-out 1.5s 0.75s ease-in-out 1 normal forwards;
}

.delay-1 {
  animation-delay: 1.5s;
}

.delay-2 {
  animation-delay: 2s;
}

.delay-3 {
  animation-delay: 2.5s;
}

.delay-4 {
  animation-delay: 3s;
}

.delay-5 {
  animation-delay: 3.5s;
}

.delay-6 {
  animation-delay: 4s;
}

.mask {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}


#heroDestino {
  height: 55vh;
  background: url('../img/01.jpg') center / cover no-repeat;
  animation: heroChange 20s 4s infinite;
}

.card:hover {
  transform: scale(1.05);
}

.card.principal:hover {
  transform: scale(1.01);
}

a {
  text-decoration: none;
}

i::before {
  margin-right: 0.2rem;

}

i {
  letter-spacing: .2rem;
}

@keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.4;
  }

  100% {
    -webkit-transform: translateY(0.4rem);
    opacity: 0.9;
  }
}

#intro-example::after {
  content: url(../img/seta_preta.png);
  height: 3.5rem;
  bottom: 1rem;
  position: absolute;
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

.card {
  transform: translateX(-100vw);
}


@keyframes cardAnimation {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.cardAnimation {
  opacity: 1;
  transform: scale(0.1);
  animation: cardAnimation 1.7s 0.01s ease-in-out 1 normal forwards;
}


.bg-secondary {
  color: #fff !important;
}


a:hover i {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 5px #FFFFFF);
  transition: 0.3s linear;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh;
}

.nav-link.active {
  font-weight: 600;
}

.input-group-text{
  width: 6rem;
}


@media screen and (max-width: 420px) {
  .mask{
    padding: 1rem !important;
  }
  
  
  #heroDestino {
    height: 75vh;
    background: url('../img/01.jpg') center / cover no-repeat;
    animation: heroChange 20s 4s infinite;
  }
  
}