<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>InserirContato</display-name>
    <servlet-name>InserirContato</servlet-name>
    <servlet-class>controller.InserirContato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserirContato</servlet-name>
    <url-pattern>/InserirContato</url-pattern>
  </servlet-mapping>
  <display-name>CrudMagicTrip</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuario</display-name>
    <servlet-name>CadastrarUsuario</servlet-name>
    <servlet-class>controller.CadastrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuario</servlet-name>
    <url-pattern>/CadastrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Autenticador</display-name>
    <servlet-name>Autenticador</servlet-name>
    <servlet-class>controller.Autenticador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autenticador</servlet-name>
    <url-pattern>/Autenticador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Destino</display-name>
    <servlet-name>Destino</servlet-name>
    <servlet-class>controller.Destino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Destino</servlet-name>
    <url-pattern>/Destino</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>excluirUsuario</display-name>
    <servlet-name>excluirUsuario</servlet-name>
    <servlet-class>controller.usuario.excluirUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>excluirUsuario</servlet-name>
    <url-pattern>/excluirUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editarUsuario</display-name>
    <servlet-name>editarUsuario</servlet-name>
    <servlet-class>controller.usuario.editarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editarUsuario</servlet-name>
    <url-pattern>/editarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarDestinos</display-name>
    <servlet-name>ListarDestinos</servlet-name>
    <servlet-class>controller.destinos.ListarDestinos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarDestinos</servlet-name>
    <url-pattern>/ListarDestinos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirDestino</display-name>
    <servlet-name>ExcluirDestino</servlet-name>
    <servlet-class>controller.destinos.ExcluirDestino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirDestino</servlet-name>
    <url-pattern>/ExcluirDestino</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarDestino</display-name>
    <servlet-name>EditarDestino</servlet-name>
    <servlet-class>controller.destinos.EditarDestino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarDestino</servlet-name>
    <url-pattern>/EditarDestino</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarDestino</display-name>
    <servlet-name>CadastrarDestino</servlet-name>
    <servlet-class>controller.destinos.CadastrarDestino</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarDestino</servlet-name>
    <url-pattern>/CadastrarDestino</url-pattern>
  </servlet-mapping>
</web-app>